Invalid staging profile, '~'.

Hi, we are keeping receiving error repoorts like:

```
An error occurred while processing the staging feature in .asf.yaml: 

.asf.yaml: Invalid staging profile, '~'. Must only contain permitted DNS characters (see RFC1035, §2.3.1)
```

Seems our parser didn't treat `~` as `nil` anymore.

what repo is affected?

Fixed in 449409eb86b1805ace4c32d5577d1e74e6ee1698

ftr: there is also the NullNone() validator that I tried, but that does not work with '~' only with explicit 'null'.

The '~' is meant to be for objects only afaict, as the documentation and prior use has `staging: ~` I opted for using the existing `EmptyValue` validator.

Thank you @netomi for the quick fix!

> as the documentation and prior use has already staging: ~ I opted for using the existing EmptyValue validator to be backwards compatible 

that was a typo in my comment, I meant to refer to the `profile: ~` as written in the documentation.